<mat-card>
    <mat-card-header>
        <mat-card-title>
            Filter Table
        </mat-card-title>
    </mat-card-header>
    <br>
    <form>
        <mat-radio-group name="locationFilter" aria-label="Select an location">
            <mat-radio-button class="locationRadio" value="canada"> Display Country Total </mat-radio-button>
            <mat-radio-button class="locationRadio" value="prov"> Display Provinces </mat-radio-button>
            <mat-radio-button class="locationRadio" value="hr"> Display Health Regions </mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <mat-slide-toggle name="cas" class="displayOption">New Cases</mat-slide-toggle><br>
        <mat-slide-toggle name="dea" class="displayOption">New Deaths</mat-slide-toggle><br>
        <mat-slide-toggle name="rec" class="displayOption">New Recovered</mat-slide-toggle><br>
        <mat-slide-toggle name="c_cas" class="displayOption">Cumulative Cases</mat-slide-toggle><br>
        <mat-slide-toggle name="c_dea" class="displayOption">Cumulative Deaths</mat-slide-toggle><br>
        <mat-slide-toggle name="c_rec" class="displayOption">Cumulative Recovered</mat-slide-toggle><br>
        <mat-slide-toggle name="act" class="displayOption">Active Cases</mat-slide-toggle><br>
        <br>
        <br>
        <mat-slide-toggle name="dateToggle" id="dateToggle" class="displayOption">Choose a Date Range</mat-slide-toggle>
        <br>
        <div id="singleDate">
            <mat-label>Choose a date</mat-label>
            <br>
            <input type="date" name="date">
        </div>
        <br>
        <div id="dateRange">
            <mat-label>Choose a start date</mat-label>
            <br>
            <input matInput type="date" name="start_date">
            <br>
            <mat-label>Choose an end date</mat-label>
            <br>
            <input matInput type="date" name="end_date">
        </div>
        <br>
        <button id="sub-btn" mat-raised-button matTooltip="Submit the filter options for the table below" aria-label="Button used to submit the filter data">
            Submit
        </button>
    </form>

</mat-card>
<br>