<mat-card>
    <mat-card-title-group>
        <mat-card-title>
            {{this.dateDisplay}}
        </mat-card-title>
    </mat-card-title-group>
</mat-card>
<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="province">
        <th mat-sort-header="province" mat-header-cell *matHeaderCellDef>Provice</th>
        <td mat-cell *matCellDef="let covidData"> {{covidData.province}} </td>
    </ng-container>
    <ng-container matColumnDef="region">
        <th mat-sort-header="region" mat-header-cell *matHeaderCellDef>Region</th>
        <td mat-cell *matCellDef="let covidData"> {{covidData.region}} </td>
    </ng-container>
    <ng-container matColumnDef="new-cases">
        <th mat-sort-header="cases" mat-header-cell *matHeaderCellDef>New Cases</th>
        <td mat-cell *matCellDef="let covidData">{{covidData.new_cases}} </td>
    </ng-container>
    <ng-container matColumnDef="new-deaths">
        <th mat-sort-header="deaths" mat-header-cell *matHeaderCellDef> New Deaths</th>
        <td mat-cell *matCellDef="let covidData">{{covidData.new_deaths}} </td>
    </ng-container>
    <ng-container matColumnDef="new-recovered">
        <th mat-sort-header="recovered" mat-header-cell *matHeaderCellDef> New Recovered</th>
        <td mat-cell *matCellDef="let covidData">{{covidData.new_recovered}} </td>
    </ng-container>
    <ng-container matColumnDef="cumulative-cases">
        <th mat-sort-header="cum-cases" mat-header-cell *matHeaderCellDef>Cumulative Cases</th>
        <td mat-cell *matCellDef="let covidData">{{covidData.cumulative_cases}} </td>
    </ng-container>
    <ng-container matColumnDef="cumulative-deaths">
        <th mat-sort-header="cum-deaths" mat-header-cell *matHeaderCellDef>Cumulative Deaths</th>
        <td mat-cell *matCellDef="let covidData">{{covidData.cumulative_deaths}} </td>
    </ng-container>
    <ng-container matColumnDef="cumulative-recovered">
        <th mat-sort-header="cum-recovered" mat-header-cell *matHeaderCellDef>Cumulative Recovered</th>
        <td mat-cell *matCellDef="let covidData"> {{covidData.cumulative_recovered}} </td>
    </ng-container>
    <ng-container matColumnDef="active-cases">
        <th mat-sort-header="active" mat-header-cell *matHeaderCellDef>Active Cases</th>
        <td mat-cell *matCellDef="let covidData"> {{covidData.active_cases}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

</table>
<br>